<meta charset="utf-8">
<div style="margin-top: -3px">'</div>
<div class='ticket' *ngFor="let numero of numeros">
  <div class='info'>
    <h4 class='content-title'>
      Rifa TETO
      <span class='ticket-number'>{{numero}}</span>
    </h4>
    <div>
      <span class='name'>Nome:</span>
      <span> ________________ </span>
      <br>
      <span class='phone'>Telefone:</span>
      <span>  ______________ </span>
      <br>
      <span class='email'>Email:</span>
      <span> ________________</span>
      <br>
      <span class='phone'>Voluntário(a):</span>
      <span>   __________ _____________________ </span>
      <br>
    </div>
  </div>
  <div class='content'>
    <h3 class='content-title'>
      Ação Entre Amigos - Construção TETO
      <span class='ticket-number'>{{numero}}</span>
    </h3>

    <div class='content-description'>
      Rifa de arrecadação, para construção de duas casas emergenciais para famílias em situação de vulnerabilidade.
      <br>
      O(A) ganhador(a) do prêmio será aquele(a) que tiver o número igual aos 3 últimos do 1º Prêmio da Loteria Federal do dia 06/04/2019, caso não contemple ninguém, consideraremos os números do 2º prêmio e assim por diante.
      <div>
        <b>Prêmio: Voucher de tatuagem no valor de R$600,00 do artista João Lara do estúdio Tattoo Ei </b>
      </div>
      Agradecemos.
    </div>

    <div class='ticket-price'>
      Valor: R$ 5,00
    </div>

  </div>
</div>
