<meta charset="utf-8">
<div style="margin-top: -3px">'</div>
<div class='ticket' *ngFor="let numero of numeros">
  <div class='info'>
    <h4 class='content-title'>
      Rifa² TETO
      <span class='ticket-number'>{{numero}}</span>
    </h4>
    <div>
      <span class='name'>Nome:</span>
      <span> ________________ </span>
      <br>
      <span class='phone'>Telefone:</span>
      <span>  ______________ </span>
      <br>
      <span class='email'>Email:</span>
      <span> ________________</span>
      <br>
      <span class='phone'>Voluntário(a):</span>
      <span>   __________ _____________________ </span>
      <br>
    </div>
  </div>
  <div class='content'>
    <h3 class='content-title'>
      Rifa solidária - Construção TETO
      <span class='ticket-number'>{{numero}}</span>
    </h3>

    <div class='content-description'>
      Serão 3 prêmios sorteados!
      Serão 3 chances de ganhar!
      <br>
      <b>1º sorteio:</b> Dia de beleza no Instituto Tereza Penteados
      (Detalhes: a/o ganhador(a) terá direito a unha de gel com manicure, design de sobrancelhas, depilação completa, peeling facial, selagem ou botox. Regra: agendar os serviços com uma semana de antecedência).

      <b>2º sorteio:</b> uma sessão fotográfica profissional de 2 horas com 5 fotos tratadas pelo Estúdio Trilho.

      <b>3º sorteio:</b> Uma cesta com toda a linha de temperos caseiros da LALD.
      <br>
      O(A) ganhador(a) será aquele(a) que tiver o número igual aos 3 últimos do Prêmio correspondente da Loteria Federal do dia 06/04/2019.
    </div>

    <div class='ticket-price'>
      Valor: R$ 5,00
    </div>

  </div>
</div>
